@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #123257;
    --shadow-blue-400: #6d87aa;
    --shadow-blue-500: #6d87aa;
    --shadow-blue-600: #6d87aa;
    --shadow-blue-700: #6d87aa;
    --dark-blue-400: #415b79;
    --dark-blue-500: #123257;
    --dark-blue-600: #102e4f;
    --dark-blue-700: #0d243e;
    --red-400: #fa6270;
    --red-500: #f93b4c;
    --red-600: #e33645;
    --red-700: #b12a36;
    --green-400: #49b786;
    --green-500: #1ca568;
    --green-600: #19965f;
    --green-700: #14754a;
    --yellow-400: #ffcd33;
    --yellow-500: #ffc000;
    --yellow-600: #e8af00;
    --yellow-700: #b58800;
  }
}

body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
}

::-webkit-scrollbar-track {
  margin-block: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  @media screen and (min-width: 992px) {
    width: 8px;
    height: 8px;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ababb1;
}

@layer base {
  body {
    @apply text-color-primary !important;
  }
}
